ADMIN_SECRET_PATH=
TRIGGER_SECRET_KEY=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
FIRECRAWL_API_KEY=
QDRANT_API_KEY=
QDRANT_URL=
CRAWLER_TARGET_URL=
ALLOWED_ORIGINS=http://localhost:3000
QDRANT_COLLECTION=
CRAWL_LIMIT=1
CRAWL_MAX_DEPTH=1
OPENAI_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
